<nav class="navbar bg-navbar">
  <h2>
    <a [routerLink]="['/']">My shop</a>
  </h2>
  <ul>
    <li routerLinkActive="active">
      <a (click)="setType('phone')">Phone</a>
    </li>
    <li routerLinkActive="active">
      <a (click)="setType('table')">Tablet</a>
    </li>
    <li routerLinkActive="active">
      <a (click)="setType('laptop')">Laptop</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/basket']" (click)="setType('basket')">Basket</a>
    </li>
  </ul>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
