<form [formGroup]="form" (ngSubmit)="submit()">
  <h2>
    Add product
  </h2>

  <div class="form-control">
    <label for="type">Тип</label>
<!--    <input id="type" type="text" formControlName="type">-->

    <select id="type" formControlName="type">
      <option selected></option>
      <option value="phone">Телефон</option>
      <option value="tablet">Планшет</option>
      <option value="laptop">Ноутбук</option>
    </select>

    <div *ngIf="type?.touched && type?.invalid" class="validation">
      <small *ngIf="type?.errors?.required">Выберите тип товара</small>
    </div>
  </div>

  <div class="form-control">
    <label for="name">Наименование</label>
    <input id="name" type="text" formControlName="name">
    <div *ngIf="name?.touched && name?.invalid" class="validation">
      <small *ngIf="name?.errors?.required">Введите наименование товара</small>
    </div>
  </div>

  <div class="form-control">
    <label for="photo">Фото</label>
    <quill-editor id="photo" formControlName="photo"></quill-editor>
  </div>

  <div class="form-control">
    <label for="description">Описание</label>
    <quill-editor id="description" formControlName="description"></quill-editor>
  </div>

  <div class="form-control">
    <label for="price">Цена</label>
    <input id="price" type="number" formControlName="price">
    <div *ngIf="price?.touched && price?.invalid" class="validation">
      <small *ngIf="price?.errors?.required">Введите цену товара</small>
    </div>
  </div>

  <button type="submit" class="btn btn-primary btn-block" [disabled]="form.invalid">Добавить</button>
</form>
